.hangman_game {
  text-align: center;
  padding: 20px;
}

.hangman_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hangman_image {
  max-width: 400px;
}

.word_display {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.8em 0;
  font-size: 2rem;
}

.button_container {
  gap: 10px;
  width: 400px;
  margin: 0 auto;
}

.restart_button {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #b34a0a;
  box-shadow: 0 6px #fb7c0d;
  font-family: inherit;
  letter-spacing: 1px;
  color: #fff;
  padding-top: 4px;
  width: 100px;
}
.restart_button:hover {
  background-color: #fb7c0d;
}
.word_button {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background-color: #28c0d4;
  color: #fff;
  border-radius: 5px;
  padding-top: 4px;
}
.word_button:disabled {
  background-color: #acaca6;
  cursor: default;
}
.word_button:disabled:hover {
  background-color: #acaca6;
  cursor: default;
}
.word_button[founded] {
  background-color: #c3ff00;
  cursor: default;
}
.word_button[founded]:hover {
  background-color: #c3ff00;
  cursor: default;
}
.word_button:hover {
  background-color: #50cbdb;
}

.score {
  font-weight: bold;
  font-size: 1.5rem;
}
.remaining_attempts {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}
